*{
	 margin: 0 auto;
}
body{
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
h1{
	margin: 25px 50px 25px 50px  ; 
}
div{
	background-color: white;
	padding: 30px;
}
h3{
	font-size: 20px;

}
.title{
	background-attachment: fixed;
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-image: url(https://images.pexels.com/photos/226243/pexels-photo-226243.jpeg?auto=compress&cs=tinysrgb&h=350);
}